# This configure file uses observational data which can be obtained by
# running the following command after exporting ILAMB_ROOT to the
# appropriate location.
#
#   ilamb-fetch --remote_root http://ilamb.ornl.gov/ILAMB-Data
#
[h1: Ecosystem and Carbon Cycle]
bgcolor = "#ECFFE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Gross Primary Productivity]
variable       = "FPSN"
alternate_vars = "gpp,FATES_GPP"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[GBAF]
source        = "DATA/gpp/GBAF/gpp_0.5x0.5.nc"
weight        = 15
table_unit    = "Pg yr-1"
plot_unit     = "g m-2 d-1"
space_mean    = False
skip_iav      = True

###########################################################################

[h1: Hydrology Cycle]
bgcolor = "#E6F9FF"

[h2: Evapotranspiration]
variable       = "et"
alternate_vars = "evspsbl"
derived        = "QVEGE+QVEGT+QSOIL"
cmap           = "Blues"
weight         = 5
mass_weighting = True

[MODIS]
source        = "DATA/et/MODIS/et_0.5x0.5.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"

